/* Apply a basic reset to remove default padding and margins */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the body with some spacing and center the content */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#root {
  width: 100%
}

.dark {
  @apply bg-gray-900 text-white;
}

.dark a {
  @apply text-blue-500;
}

/* Create a grid container with three columns */